.body {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.body a img {
    margin: 0 8px;
    width: 30px;
    transition: 0.2s;
    opacity: 0.75;
}

.body a img:hover {
    opacity: 1;
}

.name {
    font-size: 36px;
    margin-bottom: 30px;
    font-family: "Ubuntu", sans-serif;
}