@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: Lato, sans-serif;
}

body .right_align {
    text-align: right;
}

body hr {
    margin-top: 0;
    margin-bottom: 40px;
    border-width: 0;
    border-top: 1px solid black;
    width: 20px;
    text-align: center;
}

section.header {
    margin-top: 40px;
    text-align: center;
}

section.header ul {
    list-style-type: none;
}

section.header ul a {
    display: inline-block;
    margin: 0 20px;
    color: #BDC3C7;
    text-decoration: none;
}

section.header ul a:hover {
    opacity: 0.5;
}


.social img {
    width: 30px;
    margin-right: 15px;
}

.social img:hover {
    opacity: 0.5;
}

section.main .project {
    // text-align: center;
    height: 200px;
    width: 200px;
    margin: 10px;

}

section.main .project a {
    text-decoration: none;
    color: black;
}

section.main .project img {
    width: 200px;
    height: 200px;
    position: absolute;
}

section.main .project img, section.main .project .description {
    transition: opacity 0.2s ease-in-out;
}

section.main .project .description {
    padding-top: 10px;
    opacity: 0;
    width: 200px;
    height: 200px;
    text-align: center;
}

section.main .project .description .name {
    font-weight: bold;
}

section.main .project .description .role {
    font-style: italic;
    margin-bottom: 10px;
}

section.main .project .description .date {
    margin-top: 10px;
    font-style: italic;
}

section.main .project:hover img {
    opacity: 0.1;
}

section.main .project:hover .description {
    opacity: 1;
}

@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){ 

    body section.main {
        text-align: center;
    }

    body section.main h5 {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
    }

    section.main .project {
        display: block;
        margin: auto;
        float: none;
        margin-bottom: 30px;
    }
    section.main .project img {
        position: static;
    }
    section.main .project .description {
        display: none;
    }
}
